.btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #681a21;
    cursor: pointer;
    border: 2px solid #BFE2FF;
}
.btn:hover,
.btn:active,
.btn:focus {
    color: #FFF;
}
.btn:after,
.btn:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: #aaa234;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.btn:before {
    top: -6px;
}
.btn:hover:after,
.btn:hover:before,
.btn:active:after,
.btn:active:before,
.btn:focus:after,
.btn:focus:before {
    width: 100%;
    left: 0;
}
